<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Schema.org Editor</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
     /* From http://geniuscarrier.com/how-to-style-a-html-file-upload-button-in-pure-css/ */
     .fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
     }
     .fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
     }
    </style>
  </head>
  <body>
   <div class="container">
    <h1>Schema.org Editor</h1>
    <form>
     <div class="row">
      <div class="col-md-4">
       <div class="form-group">
       {#
        <select class="form-control"
               data-bind="options: availableTypes, 
                         optionsText: 'name',
                         optionsValue: 'value',
                         value: selectedType">
        </select>
        #}
        <input list="schemaTypes" class="form-control" data-bind="value: selectedType">

        <datalist id="schemaTypes" data-bind="foreach: availableTypes">
          <option data-bind="value: value, text: name"></option>
        </datalist>
       </div>
      </div>
      <div class=col-md-4">
         <div class="btn-group"> 
          <button data-bind="click: clearForm" class="btn btn-default">
           Clear
          </button>
          <button data-bind="click: newEntityTypeEditor"
                  class="btn btn-default">New</button>
         <button data-bind="click: editEntityTypeEditor"
                   class="btn btn-default">
           Edit
          </button>
          <button 
              data-bind="click: showExistingsEntities"
              class="btn btn-default">
           Find
          </button>
         </div>
      </div>
     </div>
     <div class="row" data-bind="visible: editorPane">
       <div class="col-md-6">
        <div class="alert alert-info" >
          <p data-bind="text: idValue"></p>
        </div>
       </div>
       <div class="col-md-4">
        <div class="btn-group">
          <a href="#datastream-dlg" class="btn btn-sm btn-primary">
          <span class="glyphicon glyphicon-cloud-upload"></span>
          </a>
          <a href="#fedora-info-dlg" class="btn btn-sm btn-primary">
          <span class="glyphicon glyphicon-info-sign"></span>
          </a>
         </div>
       </div>
     </div>
    </form>


    {# START Search form row #}
    <div class="row">
     {# START Search column #}
      <div class="col-md-6 col-md-offset-2">
      {# START Search panel #}
      <div data-bind="visible: showSearch" 
           class="panel-primary panel">
       {# START Search panel-heading #}
       <div class="panel-heading"> 
        Search 
        <button type="button" class="close" data-bind="click: closeSearch"><span aria-hidden="true">&times;</span>
       {# END Search panel-heading #}
       </div>
       {# START Search panel-body #}
       <div class="panel-body">
        <form class="form-inline" role="form">
         {# START Search form-group #}
         <div class="form-group">
          <input type="text" 
                 data-bind="value: idSearchValue"
                 class="form-control" id="idSearch" 
                 placeholder="Identifier String">
          <button type="submit" 
                  class="btn btn-default"
                  data-bind="click: loadEntity">Retrieve</button>
        {# END Search form-group #}
        </div>
       </form>
       {# END Search panel-body #}
       </div>
      {# END Search panel #}
      </div>
     {# END Search column #}
     </div>
   {# END Search form row #}
   </div>

    <div data-bind="visible: editorPane" class="pane container">
      <h2 data-bind="text: editingType"></h2>
      <input type="hidden" id="entity_id" data-bind="value: idValue">
      <!-- ko foreach: typeProperties -->
      <div class="form-group">
        <div class="row">
         <div class="col-md-8">
          <label data-bind="text: propName, 
                          attr: { for: propId }"></label>
          <a class="btn btn-xs btn-success" 
             data-bind="click: $root.addInput">
            <span class="glyphicon glyphicon-plus"></span>
          </a>

         </div>
        </div>
        <div class="row" data-bind="foreach: propInputs">
         <div class="col-md-8">
          <input type="text" 
               class="form-control"
               data-bind="attr: { id: propId,
                                  placeHolder: propComment,
                                  type: propType },
                          value: propValue"
                          ></input>
         </div>
         <div class="col-md-4">
          <div class="btn-group">
          <button class="btn btn-sm btn-primary"
                  onclick="updateValue(this)"
                  data-bind="attr: { target: propId }"
                  data-toggle="tooltip" data-placement="top" title="Save" 
                  >
            <span class="glyphicon glyphicon-floppy-disk"></span>
          </button>
          <button onclick="replaceValue(this)" 
                  class="btn btn-sm btn-warning" data-bind="attr: { target: propId, original: orgValue }">
            <span class="glyphicon glyphicon-retweet"></span>
           </button>
           <button onclick="deleteValue(this)" 
                   class="btn btn-sm btn-danger"
                   data-bind="attr: { target: propId }">
            <span class="glyphicon glyphicon-remove"></span></button>
           </button>
         </div>
        </div>
       </div>
      </div>
      <!-- /ko -->
    </div>
   </div>


   <div class="row container">
     <div class="col-md-12">
      All original Source code under the 
      <a href="http://opensource.org/licenses/MIT">MIT</a> open-source license.
      Github source code repository at 
      <a href="https://github.com/jermnelson/schema-org-editor">https://github.com/jermnelson/schema-org-editor</a>.
      Please <a href="mailto:jeremy.nelson@coloradocollege.edu">email</a> Jeremy Nelson with any questions and use 
      Github's <a href="https://github.com/jermnelson/schema-org-editor/issues">issues</a> to report bugs, questions,
      and enhancement requests.

     </div>
    
   </div>

{# Start of Existing Entities Dialog #}
<div class="modal fade" id="display-entities-dlg">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" >Edit <span data-bind="text: selectedType"></span> Instance</h4>
      </div>
      <div class="modal-body">
        <p>Select a <span data-bind="text: selectedType"></span> from the list below to edit.</p>
       <select data-bind="value: selectedEntity, 
                          options: existingEntities, 
                          optionsText: 'name',
                          optionsValue: 'value'" size="10">
        </select> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" 
                class="btn btn-primary"
                data-bind="click: editEntity">Edit Entity</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
<script>

  function deleteValue(element) {
    console.log("In deleteValue function");
  }

  function replaceValue(element) {
    var input =  $('#'+element.attributes['target'].value);
    var name = input.attr('id').slice(0, input.attr('id').length-1);
    $.ajax({
      type: 'POST',
      url: '/replace',
      data: {entityid: $('#entity_id').val(),
             name: name,
             old: element.attributes['original'].value,
             value: input.val() }
     }).done(function(status) {
       element.attributes['original'] = input.val();

     });
  }

  function updateValue(element) {
    var input =  document.getElementById(element.attributes['target'].value);
    if(!input.checkValidity()) {
     alert(input.id + " not valid: " + input.validationMessage);
     $(input).parent().addClass("has-error");
     $(input).focus();
     return; 
    }
    if(input.value.length > 0) { 
      var entity_id = $('#entity_id').val();
      var count = input.id.slice(element.id.length-1);
      var name = input.id.slice(0, element.id.length-1);
      $.ajax({
        type: 'POST',
        url: '/update',
        data: { name: input.id,
                count: count,
                entityid: entity_id,
                value: input.value }
      }).done(function(status) {
        if(!status) {
          alert(element.id + " not saved for " + entity_id);
        }
        element.nextElementSibling.attributes['original'].value = input.value;
      });
    }
  }
 
  function EntityProperty(propId, 
                          propName, 
                          propComment, 
                          propType,
                          propValues) {
     self = this;
     self.propId = propId;
     self.propName = propName;
     self.propInputs = ko.observableArray();
     if(propValues.length > 0) {
       for(i in propValues) {
         var value = propValues[i];
         var entityInput = {'propId': propId+i,
                            'propComment': propComment,
                            'propType': propType,
                            'propValue': ko.observable(value), 
                            'orgValue': value}
         self.propInputs.push(entityInput);
       }
     }
  }


  function viewModel(schema) {
    var self = this;
    self.schema = schema;


    self.addInput = function(input) {
       var newId = input.propId + input.propInputs.length+1;
       input.propInputs.push({'propId': newId,
                             'propComment': input.propComment,
                             'propType': input.propType,
                             'propValue': ko.observable(''), 
                             'orgValue': ''});  

     }

    self.availableTypes = ko.observableArray();
    self.clearForm = function() {
      self.typeProperties.removeAll();
      self.editingType("");
    }
    self.closeSearch = function() {
      self.showSearch(false);
    }

    self.createEntityProperty = function(entity, field, id, value) {
      var propId = entity[field][id];
      if(!propId) {
        console.log("Prop Id " + propId + "\nentity " + entity['@id'] + "\nfield=" + field + "\nid=" + id);
      }
      var propName = self.schema['properties'][propId]['label'];
      var propComment = self.schema['properties'][propId]['comment_plain'];
      if(propComment.indexOf('legacy spelling') > -1) {
          return;
      }
      var inputType = 'text';
      if($.inArray('Date', self.schema['properties'][propId]['ranges']) > -1) {
         inputType = 'date';
      }
      if($.inArray('URL', self.schema['properties'][propId]['ranges']) > -1) {
         inputType = 'url';
     }
       
     return new EntityProperty(propId,
                              propName,
                              propComment,
                              inputType,
                              value);

    }

    self.editEntity = function() {
      self.idSearchValue(self.selectedEntity());
      $('#display-entities-dlg').modal('hide');
      self.loadEntity();
    }

    self.editorPane = ko.observable(false);
    self.idSearchValue = ko.observable();
    
    self.loadEntity = function() {
      $.getJSON('/id?url=' + self.idSearchValue(), 
        function(data) {
         if(data) {
           var entity = data[0];
           var typeName = '';
           self.idValue(entity['@id']);
           for(i in entity['@type']) {
             var prop_url = entity['@type'][i];
             if(prop_url.search('http://schema.org') > -1) {
                var type_list = entity['@type'][i].split("/");
                // Should be the last item in the list 
                typeName = type_list[type_list.length-1];
             }
           }
           var type = self.schema['types'][typeName];
           for(j in type['properties']) {
            var propertyURI = 'http://schema.org/' + type['properties'][j];
            if(propertyURI in entity) {
              var inputValues = [];
              for(i in entity[propertyURI]) {
                inputValues.push(entity[propertyURI][i]['@value']);
              }
              var prop = self.createEntityProperty(type, 'properties', j, inputValues);
            } else {
              var prop = self.createEntityProperty(type, 'properties', j, ['']);
            }
            if(prop) {
              self.typeProperties.push(prop);
             }
           }
          self.typeProperties.sort(
          function(left, right) {
            if(left.propId > right.propId) { return 1; } else { return -1; }
          }); 

          self.editorPane(true);    
         
         }
       });
    }

    self.loadExtension = function(json_url) {
      $.getJSON(json_url, function(data) {
        for(name in data['types']) {
         var type = data['types'][name];
         self.availableTypes.push({'value': name, 'name': type.label}); 
         self.schema['types'][name] = type;
        }
        for(name in data['properties']) {
         self.schema['properties'][name] = data['properties'][name];
        }
      });
    }

    self.selectedType = ko.observable();
    self.selectedEntity = ko.observable();
    self.existingEntities = ko.observableArray();
    self.editingType = ko.observable();
    self.editEntityTypeEditor = function() {
      self.clearForm();
      self.showSearch(true);
    }
    
    self.typeProperties = ko.observableArray();
    self.showSearch = ko.observable(false);

    for(name in self.schema['types']) {
      var type = schema['types'][name];
      self.availableTypes.push({'value':name, 'name': type.label});
    }


    self.showExistingsEntities = function() {
       self.existingEntities.removeAll();
       if(!self.selectedType()) {
          alert("Please select a type");
          return;
       }
       $.getJSON('/list/' + self.selectedType(), function(data) {
           for(i in data) {
             var entity = data[i];
             self.existingEntities.push(entity);
         }
         $('#display-entities-dlg').modal('show');
       });
    }


    self.newEntityTypeEditor = function() { 
      self.showSearch(false);
      if(self.selectedType().length < 1) {
        alert("You must select a type");
        return;
      }
      var new_url = '/id/new/' + self.selectedType();
      
      $.ajax({url: new_url,
              schema_type: self.selectedType()}).done(function(data) {
              self.idValue(data);
      });
     

      self.typeProperties.removeAll();
      var type = schema['types'][self.selectedType()];
      self.editingType(type.label);
      for(j in type['properties']) {
         var prop = self.createEntityProperty(type, 'properties', j, ['']);
         if(prop) {
             self.typeProperties.push(prop);
         }
      }
      for(i in type['specific_properties']) {
         var propId = type['specific_properties'][i];
         if(type['properties'].indexOf(propId) < 0) {
           var prop = self.createEntityProperty(type, 'specific_properties', i, ['']);
           if(prop) {
             self.typeProperties.push(prop);
           }
         }
      }

      self.typeProperties.sort(
        function(left, right) {
          if(left.propId > right.propId) { return 1; } else { return -1; }
       }); 
      
      self.editorPane(true);
    }
 
 
   self.updateValue = function(property) {
     console.log("Propertery " + property.propName + " value " + property.propValue());
   }
   self.idValue = ko.observable("");
  }


 $.getJSON('http://schema.rdfs.org/all.json', function(data) {
    var view_model = new viewModel(data);
    ko.applyBindings(view_model);
   view_model.loadExtension('{{ url_for('static', filename='json/bibex.json') }}');
 });

  
</script>
  </body>
</html>
